.login {
  margin: 0 auto;
  width: 500px;
}

.login-top {
  margin-top: 100px;
}

.property-detail-top {
  margin-top: 50px;
}

.form-login {
  padding-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px,
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.property-list-link {
  float: right;
}

.property-list-link a {
  text-decoration: none;
}

.property-list-link a:hover {
  color: brown;
}

.property-type {
  float: left;
}